body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
}

.game-container {
  text-align: center;
  padding: 20px;
}

.title {
  color: white;
  font-size: 42px;
}

.camera-wrapper {
  position: relative;
  width: 640px;
  margin: auto;
}

.webcam {
  width: 640px;
  border-radius: 20px;
  border: 6px solid white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.question-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  font-size: 28px;
  width: 60%;
  margin: 20px auto;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.answer {
  padding: 20px;
  border-radius: 16px;
  font-size: 24px;
  color: white;
  width: 200px;
}

.left {
  background: #ff7675;
}

.right {
  background: #0984e3;
}

.result-container {
  margin-top: 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 20px 40px;
  font-size: 34px;
  font-weight: bold;
  border-radius: 16px;
  color: white;
}

.correct {
  background: #2ecc71;
}

.wrong {
  background: #e74c3c;
}

.loading-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.score {
  font-size: 26px;
  color: white;
  margin-bottom: 10px;
}

.face-status {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
